
.Post{
    background-color: black;
    color: white;
    vertical-align: middle;
    margin-bottom: 8px;
    /* height: 300px; */
}

.Price{
    background-color: #fc9c6b;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.Price p{
    margin: 0;
}

.container {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
  
  .text {
    background-color: #fc9c6b;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    font-size: 15px;
    padding: 15px 50px;
    color: white;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
