.Title{
    text-align: center;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Background{
    background-image: url('../../assets/img/cart1.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.Div{
    padding-top: 2%;
    margin: auto;    
    margin-bottom: 40px;
    width: 20%;
}

.Bouquet{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightblue;
    padding: 5px 0;
}

.Bouquet:hover{
    background-color: lightblue;
}

.DeleteBtn{
    background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
}

.DeleteBtn:hover{
    cursor: pointer;
    color: #fc9c6b;
    font-size: 20px;
    padding: 7px;
}

.LogInLink{
    color: #fc9c6b;
}

.LogInLink:hover{
    color: lightblue;
}

.OrderBtn{
    background-color: #fc9c6b;
    color:white;
    border: none;
    font-weight: bold;
    padding: 10px 50px;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 40px auto;
}

.OrderBtn:hover{
    transform: scale(1.2);
    cursor: pointer;
    border: 2px solid white;
}